@font-face {
    font-family: 'Caros Light';
    src: url('https://db.onlinewebfonts.com/t/9180dec2cdd1711edd6b8d86954aae05.eot');
    src: url('https://db.onlinewebfonts.com/t/9180dec2cdd1711edd6b8d86954aae05.eot?#iefix') format('embedded-opentype'),
         url('https://db.onlinewebfonts.com/t/9180dec2cdd1711edd6b8d86954aae05.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/9180dec2cdd1711edd6b8d86954aae05.woff') format('woff'),
         url('https://db.onlinewebfonts.com/t/9180dec2cdd1711edd6b8d86954aae05.ttf') format('truetype'),
         url('https://db.onlinewebfonts.com/t/9180dec2cdd1711edd6b8d86954aae05.svg#Caros Light') format('svg');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom right, rgba(0, 225, 255, 0.7), rgba(148, 6, 230, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Caros Light', sans-serif;
}

.backgroundForm {
    height: calc(100vh - 50px);
    width: calc(100% - 50px);
    border-radius: 15px;
    padding: 20px;
    margin: 1.5%;
    box-shadow: 0 4px 18px rgba(44, 44, 44, 0.6);
    background: linear-gradient(to bottom right, rgba(148, 6, 230, 0.7), rgba(0, 225, 255, 0.7));
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 10px;
    margin-right: 13%;
}

.text {
    padding-left: 10px;
    font-weight: 700;
    color: rgb(253, 148, 67);
}

.right-side {
    height: 90vh;
    border-left: 5px solid white;
    border-radius: 18px;
}

/* Small Screens (280px - 653px) */
@media screen and (min-width: 280px) and (max-width: 300px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .right-side {
        display: none;
    }

    .backgroundForm {
        margin-left: 1%;
        width: 96%;
        padding: 10px;
    }

    .text h1 {
        font-size: 1.5rem;
    }

    .text h3 {
        font-size: 1rem;
    }
}

/* Medium Screens (654px - 900px) */
@media only screen and (min-width: 654px) and (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr 200px;
    }

    .right-side {
        border-left-width: 3px;
    }

    .text h1 {
        font-size: 2rem;
    }

    .text h3 {
        font-size: 1.2rem;
    }
}

/* Large Screens (901px and above) */
@media only screen and (min-width: 901px) {
    .grid {
        grid-template-columns: 1fr 300px;
    }

    .right-side {
        border-left-width: 5px;
    }

    .text h1 {
        font-size: 2.5rem;
    }

    .text h3 {
        font-size: 1.5rem;
    }
}
